{% extends 'base.html' %}
{% load static %}

{% block header %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('{% static 'Website/assets/img/post-sample-image.jpg' %}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Editer une annonce</h1>
                    <span class="subheading">{{ target_announce.author_club }} - {{ target_announce.author_category }}{{ target_announce.author_practice_level }}</span>
                    <span class="subheading">Région : {{ target_announce.author_region }}</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock header%}

{% block content %}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                    <tr>
                        <td></td>
                        <td><input type="submit" value="Valider"></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

