<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>S'inscrire</title>
</head>
<body>

<form method="POST">
    {% csrf_token %}

    {{ form.as_p }}

    {% for message in errors.values %}
    <h3 style="color: red;">
        {{ message }}
    </h3>
    {% endfor %}

    <input type="submit" value="S'inscrire">
</form>

</body>
</html>